.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Header {
  background-color: #819A91;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* addItem */
.addItem{
  background-color: #A7C1A8;
  margin: 0px;
  height: 3rem;
  display: flex;
 justify-content: center;     
  align-items: center;  padding: 0 1rem;            
  gap: 1rem;
      
}

.add-btn{
  border-radius: 6px;
      height: 2rem;
      width: 5rem;
}

.add-btn:hover{
  background-color: #819A91;
}
/* content */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.addDataDes{
  min-width: 75vw;
  margin: 0px;
  align-content: center;
  height: 1.7rem;
  border-radius: 6px;

}
.addItem{
  margin: 0px;

}
ul{
list-style-type: none;
  gap: 5px;

}
.ul-container{
  padding: 0px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.list-row {
  display: flex;                
  align-items: center;          
  border: solid #e6e9df;
  margin-bottom: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  min-height: max-content;
  padding: 10px 15px;           
  gap: 12px;                   
}



.ListData{
  margin: 0px;
  background-color: #D1D8BE;
  margin: 0px;
  min-height: 80vh;
  
}

.dlt-btn{
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 6px;
  height: 1.7rem;
}
.dlt-btn:hover{
  color: red;
}

li {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 80%;
  left: 60px;
  background: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

li:hover .tooltip {
  opacity: 1;
}


/* footer */
.footer{
  background-color: #819A91;
  display: flex;
  flex-direction: column-reverse;
  margin-top: auto;
  min-height: 10vh;
}

